html
{
  --color-background-app: 255, 255, 255;
  --color-background-header: 226, 226, 226;
  --font-size-normal: 16px;
  --font-size-title: 2rem;
  --color-text-normal: 0, 0, 0;
}

*
{
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
}

.app
{
  min-height: 100vh;
  background: rgba(var(--color-background-app), 1);
  font-size: var(--font-size-normal);
}

.app-header
{
  height: 5rem;
  background: rgba(var(--color-background-header), 1);
  font-size: var(--font-size-title);
  display: flex;
  flex-direction: row;
}

.app-logo
{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: rgb(44, 44, 44);
}

.app-header > *
{
  margin: auto 0 auto 0.5em;
}

a
{
  text-decoration: none;
  color: rgba(var(--color-text-normal), 1)
}

a:active
{
  text-decoration-line: underline;
}
